header{
    height: 100vh;
    margin-top: 2rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.triangle{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    margin-top: 1rem;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 50px solid var(--color-primary);
    animation: animate-rotate 10s infinite linear;
}

.carre{
    position: absolute;
    right: 0;
    top: 30rem;
    height: 50px;
    width: 50px;
    background: var(--color-primary);
    transform: rotate(45deg);
    animation: animate-rotate 10s infinite linear;
}

@keyframes animate-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* ================== CTA ================== */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ==================  HEADER SOCIAL ================== */
.header__socials{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials::before{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =================== ME ===================== */
.me{
    width: 22rem;
    height: 22rem;
    position: absolute;
    margin-top: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--color-primary);
}
.me1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
}

/* =================== SOCIAL DOWN ===================== */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ================ media query (medium) ===================== */
@media screen and (max-width: 1024px){
    header{
        height: 100vh;
    }
}

/* ================ media query (medium) ===================== */
@media screen and (max-width: 600px){
    header{
        height: 62rem;
    }

    .header__socials,
    .scroll__down{
        display: none;
    }

    .triangle,
     .carre{
        display: none;
     }
}

@media screen and (max-width: 450px){
    header{
        height: 55rem;
    }
    .me{
        width: 15rem;
        height: 15rem;
    }
}