.container.container__testimonials{
    width: 40%;
    min-height: 550px;
}

.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.triangle3{
    position: absolute;
    margin-left: 10rem;
    margin-top: 10rem;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 50px solid var(--color-primary);
    animation: animate-rotate 10s infinite linear;
}

.carre2{
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    margin-right: 10rem;
    background: var(--color-primary);
    transform: rotate(45deg);
    animation: animate-rotate 10s infinite linear;
}

.client__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
    font-size: 1.2rem;
}

.swiper-pagination{
    top: 0;
}

/* ================ media query (medium) ===================== */
@media screen and (max-width: 1024px){
    .container.container__testimonials{
        width: 60%;
    }

    .triangle3{
        display: none;
    }

    .carre2{
        display: none;
    }
}

/* ================ media query (small) ===================== */
@media screen and (max-width: 600px){
    .container.container__testimonials{
        width:var(--container-width-sm);
    }

    .client__review{
        width: var(--container-width-sm);
        height: max-content;
    }
}