nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    top: 90%;
    left: 51%;
    position: fixed;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    bottom: 2rem;
    align-items: center;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.4);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}